src/main/resources/query.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="xdmview">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="data">
                    <xs:complexType>
                        <xs:choice minOccurs="1">
                            <xs:element name="mysql" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="url" type="xs:string" use="required" />
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="username" type="xs:string" use="required" />
                                    <xs:attribute name="password" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="json">
                                <xs:complexType>
                                    <xs:attribute name="url" type="xs:string" use="required" />
                                    <xs:attribute name="local" type="xs:boolean" use="required" />
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="xml">
                                <xs:complexType>
                                    <xs:attribute name="url" type="xs:string" use="required" />
                                    <xs:attribute name="local" type="xs:boolean" use="required" />
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="csv">
                                <xs:complexType>
                                    <xs:attribute name="url" type="xs:string" use="required" />
                                    <xs:attribute name="local" type="xs:boolean" use="required" />
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="view">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:choice minOccurs="1" maxOccurs="unbounded">
                                <xs:element name="mysql_base">
                                    <xs:complexType>
                                        <xs:choice minOccurs="1">
                                            <xs:element maxOccurs="unbounded" name="field">
                                                <xs:complexType>
                                                    <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                            <xs:attribute name="selected" type="xs:boolean" use="required" />
                                                        </xs:extension>
                                                    </xs:simpleContent>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" maxOccurs="1" name="condition" type="xs:string" />
                                        </xs:choice>
                                        <xs:attribute name="name" type="xs:string" use="required" />
                                        <xs:attribute name="source" type="xs:string" use="required" />
                                        <xs:attribute name="table" type="xs:string" use="required" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="json_base">
                                    <xs:complexType>
                                        <xs:choice minOccurs="1">
                                            <xs:element maxOccurs="unbounded" name="field">
                                                <xs:complexType>
                                                    <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                            <xs:attribute name="selected" type="xs:boolean" use="required" />
                                                        </xs:extension>
                                                    </xs:simpleContent>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" maxOccurs="1" name="condition" type="xs:string" />
                                        </xs:choice>
                                        <xs:attribute name="name" type="xs:string" use="required" />
                                        <xs:attribute name="source" type="xs:string" use="required" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="xml_base">
                                    <xs:complexType>
                                        <xs:choice>
                                            <xs:element minOccurs="1" maxOccurs="unbounded" name="field">
                                                <xs:complexType>
                                                    <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                            <xs:attribute name="selected" type="xs:boolean" use="required" />
                                                        </xs:extension>
                                                    </xs:simpleContent>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" maxOccurs="1" name="condition" type="xs:string" />
                                        </xs:choice>
                                        <xs:attribute name="name" type="xs:string" use="required" />
                                        <xs:attribute name="source" type="xs:string" use="required" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="csv_base">
                                    <xs:complexType>
                                        <xs:choice>
                                            <xs:element minOccurs="1" maxOccurs="unbounded" name="field">
                                                <xs:complexType>
                                                    <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                            <xs:attribute name="selected" type="xs:boolean" use="required" />
                                                        </xs:extension>
                                                    </xs:simpleContent>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" maxOccurs="1" name="condition" type="xs:string" />
                                        </xs:choice>
                                        <xs:attribute name="name" type="xs:string" use="required" />
                                        <xs:attribute name="source" type="xs:string" use="required" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="operation">
                    <xs:complexType>
                        <xs:choice minOccurs="0">
                            <xs:element maxOccurs="unbounded" name="union">
                                <xs:complexType>
                                    <xs:choice minOccurs="1">
                                        <xs:element maxOccurs="unbounded" name="source" type="xs:string" />
                                    </xs:choice>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="join">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="2" name="source">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="on" type="xs:string" use="required" />
                                                        <xs:attribute name="type" type="xs:string" use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>